<div class="block">	
    <h4 class="title"><span class="text"><strong>Đơn hàng</strong> Đã đặt</span></h4>
    
<table class="table table-striped">
    <thead>
        <tr class='bg5'>									
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>           
            <th>Tổng đơn giá</th>
        </tr>
    </thead>       
    {{# each orders}}
    <tbody>
            {{# each this.items}}
        <tr>               
            <td><a href="/"><img alt="" src="{{ this.item.imagePath_1}}" class="bg8"></a></td>
            <td>{{ this.item.description}}</td>
            <td>{{this.qty}}</td>               
            <td>${{ this.price}}</td>               
        </tr>	
        {{/each}} 		  		  
    </tbody>
    <tbody>
            
        <tr>               
            <td><h5>Tổng tiền: ${{ this.cart.totalPrice}}</h5></td>
            <td></td>
            <td></td>                           
            <td></td>               
        </tr>	
                            
    </tbody>
    
    {{/each}}       
</table>
</div>



   