<section class="header_text sub">
    <img class="pageBanner bg1" src="../themes/images/pageBanner.png" alt="New products" >  
    <h4><span>Chi tiết sản phẩm</span></h4> 
</section>

<section class="main-content body1">
    {{# each product }}
    <div class="row">      
        <div class="span1"></div>   
        <div class="span3">       
            <div class="row">
                <h4 class="title">                           
                    <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>               
                </h4>
                <div id="myCarousel" class="myCarousel carousel slide">
                    <div class="carousel-inner">                      
                        <div class="active item">
                            <ul class="thumbnails">
                                <div class="product-box">
                                    <p><a ><img src="{{this.imagePath_1}}" alt="" class="" /></a></p>
                                </div>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails">
                                <div class="product-box">
                                    <p><a ><img src="{{this.imagePath_2}}" alt="" /></a></p>
                                </div>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails">
                                <div class="product-box">
                                    <p><a ><img src="{{this.imagePath_3}}" alt="" /></a></p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        <div class="span1"></div>
        <div class="span4">           
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h2 class="bg3"><i>{{title}}</i></h2>
                    <br/>
                    <p class="bg4"><img src="../themes/images/logo1.jpg" class="bg2" /><i>  {{description}} </i></p>  
                    <h5>Đặc điểm sản phẩm: <br/> &ensp; {{Characteristics}}</h5>
                    <hr  width="100%" align="center" />           
                    <h3 class="bg5">Giá : ${{price}}</h3>
                    <hr  width="100%" align="center" />
                    <h5>Khuyến mãi: <br/>  <p class="bg6"><i>{{promotion}}</i></p></h5>
                    <br />
                    <br />
                    <hr  width="100%" align="center" />
                    <a href="/add-to-cart/{{this._id}}" ><button type="submit" class="bg7"> Thêm vào giỏ hàng</button></a>
                </div>
            </div>     
        </div>  
        <div class="span2">
            <p><i>Tùy chọn giao hàng</i></p>
            <p><img src="../themes/images/vitri.jpg" class="bg2" />   Hồ Chí Minh,Quận 1,Phường Phạm Ngũ Lão</p>             
            <p><img src="../themes/images/giaohang.png" class="bg2" />   Giao hàng tiêu chuẩn(5-7ngày)    11.000đ</p>           
            <p><img src="../themes/images/tien.png" class="bg2" />   Thanh toán khi nhận hàng. (Không được đồng kiểm)</p>
            <br />
            <hr  width="100%" align="center" /> 
            <p><i>Đổi trả và Bảo hành</i></p>
            <p><img src="../themes/images/luachon.png" class="bg2" />   100% Chính hãng</p> 
            <p><img src="../themes/images/luachon.png" class="bg2" />   15 ngày trả hàng(được đổi trả với lý do không vừa ý)</p> 
            <p><img src="../themes/images/khongbaohanh.jpg" class="bg2" />   Không áp dụng chính sách bảo hành</p>       
        </div>
        <div class="span1"></div>   
    </div>  
    {{/each}}
    </section>
<hr  width="100%" align="center" /> 
<section class="main-content">
   
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>Liên quan</strong></span></span></span>
                        <span class="pull-right">
                        <a class="left button" href="#myCarouse2" data-slide="prev"></a><a class="right button" href="#myCarouse2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarouse2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                     {{#each productdetail }}
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="/product_detail/{{this._id}}"><img src="{{this.imagePath_1}}"  /></a></p>
                                            <a href="/product_detail/{{this._id}}" class="title">{{this.title}}</a><br/>
                                            <a href="/product_detail/{{this._id}}" class="category">{{this.description}}</a>                                   
                                            <p href="/product_detail/{{this._id}}" class="price">${{this.price}}</p>
                                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Thêm vào giỏ hàng</a>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
    <hr  width="100%" align="center" /> 

<section class="main-content">
   
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="text"><span class="line">Nhận xét <strong>Sản phẩm</strong></span></span>
                        <br />
                        <br /> 
                    </h4>
                        {{#each cmt}}
                        <table class="table table-striped">
                            <thead>
                                <tr class='bg5'>									
                                    <th>{{this.email}}</th>
                                    <th></th>
                                   
                                </tr>
                            </thead>                                 
                            <tbody>                                  
                                <tr>               
                                    <td>{{this.content}}</td>
                                    <td></td>                                                
                                </tr>	                               		  		  
                            </tbody>                    
                        </table> 
                        {{/each}}  
                        <form action="/insertCmt" method="post">
                         <table class="table table-striped">
                            <thead>
                                <tr class='bg11'>									
                                    <th><h5>Thêm nhận xét:</h5> </th>
                                    <th></th>                                  
                                </tr>
                            </thead>
                            <thead>
                                <tr class='bg5'>									
                                    <th><h5>Tác giả:
                                        <br/>
                                        <div class="input-group">
                                            <input type="name" id="name" name="name" class="form-control" >														
						                </div>
                                    </h5> </th>
                                    <th></th>                                  
                                </tr>
                            </thead>                                 
                            <tbody>                                  
                                <tr>               
                                    <td><h5>Nhận xét:
                                        <div class="input-group">
                                            <input type="cmt" id="cmt" name="cmt" class="form-control" >														
						                </div>
                                        <button action="/insertCmt" type="submit">Thêm</button>
                                    </h5></td>
                                    <td></td>                                                
                                </tr>	                               		  		  
                            </tbody>                    
                        </table>   
                    </form>           
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pagination">
  <a href="?page=1"><b>1</b></a>
  <a href="?page=2"><b>2</b></a>
  <a href="?page=3"><b>3</b></a>
  <a href="?page=4"><b>4</b></a>
</div>



{{> featureBox}}


